<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         defaultTestSuite="Rollbar Test Suite"
>
  <testsuites>
    <testsuite name="Rollbar Test Suite">
      <directory suffix=".php">./tests/</directory>
      <exclude>./tests/Performance/</exclude>
      <exclude>./tests/TestHelpers/</exclude>
      <exclude>./tests/FakeDataBuilder.php</exclude>
      <exclude>./tests/bootstrap.php</exclude>
      <exclude>./tests/BaseRollbarTest.php</exclude>
    </testsuite>

    <testsuite name="Rollbar Performance Test Suite">
      <directory suffix=".php">./tests/Performance/</directory>
    </testsuite>
  </testsuites>

  <coverage/>

  <php>
    <env name="ROLLBAR_TEST_TOKEN" value="ad865e76e7fb496fab096ac07b1dbabb"/>
  </php>

  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>

</phpunit>
